@charset "utf-8";

/* Image Styles */


.header {
	height:100px;
	background: #F0F0F0;
	border:1px solid;
	width: 100%
	margin: 0px auto;
}

header a{
	background-color: blue;
}

.header img{
	width: 50px;
	height: 50px;
	padding: 20px;
	padding-left: 50px;
}

.footer {
	height:60px;
	width: 100%;
	bottom: 0;
	position: absolute;
}

.content-banner{
    background: #837960 url("images/background.jpg") 0 0 no-repeat;

    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(130,91,0,1) 100%);   /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(130,91,0,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(130,91,0,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(130,91,0,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(130,91,0,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(130,91,0,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#825b00',GradientType=0 ); /* IE6-9 */
}

.lower-content{
	float: left;
	margin-left: 200px;
}

#me-img {
	position: relative;
	float: left;
	opacity: 0.95;
	margin-top: 15px;
	-webkit-transition: -webkit-filter 1s;  
	-webkit-filter: grayscale(0%);
	width: 250px;
	height: 200px;
	border-radius: 40px;
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
} #me-img:hover { -webkit-filter: grayscale(0%); }


.my {
	float: none;
	margin-left: 300px;
	font-weight: 300;
	font-size: 24px;
	color: gray;
	width: 600px;
	padding-top: 10px;
}

/* Text Shader Styles */

.text-shader-1 {
	background-color: white;
	z-index: 10;
	position: absolute;
	width: 600px;
	height: 400px;
	-webkit-mask-image: -webkit-gradient(linear, 44% top, 40% top, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
}

.text-shader-active {
	-webkit-transition: -webkit-transform 1.2s linear;
	-webkit-transform: translateX(700px);
	-moz-translation: -moz-transform 1.2s linear;
	-moz-transform: translateX(700px);
}

.hidden {
	display:none;
}

.map-canvas{
	width: 500px;
	height: 400px;
}

iframe {
	width: 600;
	height: 400px;
}

/* Footer Styles */

footer {
	margin: auto;
	color: lightgray;
	clear: both;
	text-align: left;
	position: absolute;
	bottom: 40px;
	visibility: visible;
} 

@media(max-height: 550px) { footer {visibility: hidden;} }
